<div class="container">
		<div class="row clearfix">
		<div class="col-md-4 column">
			<h5>Join the Mailing List</h5>
			<form action="http://studiove.us2.list-manage.com/subscribe/post?u=166c10722fbe6b005e77273d6&amp;id=b1cff923c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
			<div class="mc-field-group form-group">
				<input type="email" placeholder="Enter email" name="EMAIL" class="required email form-control" id="mce-EMAIL">
              	<input type="checkbox" id="group_32" name="group[15377][32]" value="1" class="av-checkbox hidden" checked>
				</div>
				<input type="submit" value="Sign Up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
				<div id="mce-responses">
					<div class="response" id="mce-error-response"></div>
					<div class="response" id="mce-success-response"></div>
				</div>
			</form>
			<small>We don't spam.<br>
			We send emails only when new products debut.</small>
		</div>
		<div class="col-md-3 column">
			<h5>Say Shalom!</h5>
			<ul class="list-unstyled">
				<li>
					<a href="http://www.facebook.com/studiove">Facebook</a>
				</li>
				<li>
					<a href="http://www.twitter.com/studio_ve">Twitter</a>
				</li>
				<li>
					<a href="http://www.pinterest.com/studiove">Pinterest</a>
				</li>
				<li>
					<a href="http://www.instagram.com/studio_ve">Instagram</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 column">
			 <address><h5>Studio Ve</h5> 102 Ehad Ha'am St.<br> Tel-Aviv 6520721 Israel<br><br><a href="support@studiove.com">support@studiove.com</a></address>
		</div>
		<div class="col-md-2 column">
			<p class="hidden-xs">
				<br><br><br><br><br><span class="text-right">Handmade in TLV, {{ ,'now' | date: '%Y' }}
			</p>
			<p class="visible-xs">
				Handmade in TLV, {{ ,'now' | date: '%Y' }}
			</p>
		</div>
	</div>
</div>