/* Checkout CSS */

.payment-method.paypal {
  background: url(//cdn.shopify.com/s/files/1/0212/7228/t/7/assets/payreplace.png?33917) no-repeat center center;
  width: 198px /* use the width of your own image here */;
}

label[for=checkout_payment_gateway_3612425]:before {
  content: "Credit Card or "
}

.product__image {
  display: none;
}

.total-line--taxes {
  display: none;
}

/// #show-discount-form-link {display:none !important;}

/// div#discount-field {display:block !important;}